<!DOCTYPE html>
<html lang="es">
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />

    <link rel="stylesheet" href="css/style.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUD con
        Arrays</title>
</head>

<body>

    <nav class="blue darken-3">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Portafolio Vue.js</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="https://vuejs.cesarvan3.com">Home</a></li>
                <li><a href="https://vuejs.cesarvan3.com/vue01">Conexion API</a></li>
                <li><a href="https://vuejs.cesarvan3.com/vue02">CRUD con Arrays</a></li>
                <li><a href="https://vuejs.cesarvan3.com/vue03">Funcionamiento rutas</a></li>
            </ul>
        </div>
    </nav>
    <br>
    <br>
    <div class="container" id="app">
        <div class="row">
            <div class="col m12 card-panel">

                <form @submit.prevent="agregarUsuario">
                    <div class="row">
                        <div class="col m4">
                            <label>Nombre</label>
                            <input type="text" v-model="nombre" required>
                        </div>
                        <div class="col m4">
                            <label>Apellido</label>
                            <input type="text" v-model="apellido" required>
                        </div>
                        <div class="col m4">
                            <label>Edad</label>
                            <input type="number" v-model="edad" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col m4">
                            <label>Estado Civil</label>
                            <select v-model="estado_civil">
                                <option>Seleccione</option>
                                <option v-for="estado in estados_civiles" v-bind:value="estado">{{estado}}</option>
                            </select>
                        </div>
                        <div class="col m4">
                            <label>Correo</label>
                            <input type="email" v-model="correo" required>
                        </div>
                        <div class="col m4">
                            <label>Telefono</label>
                            <input type="text" v-model="telefono" required>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col m4 card-panel">
                            <label>Pasatiempo</label>
                            <input type="text" v-model="pasatiempo">
                            <button type="button" v-on:click="agregarPasatiempo" class="btn indigo darken-4">AGREGAR
                                PASATIEMPO <i class="material-icons right">send</i></button>
                            <br>
                            <ul>
                                <li v-for="pasatiempo in pasatiempos" v-bind:key="pasatiempo">
                                    {{pasatiempo.id}} - {{pasatiempo.descripcion}}
                                    <a href="#!" v-on:click="pasatiempos.splice(index,1)"><i
                                            class="material-icons">close</i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="col m4">
                            <label><input type="checkbox" v-model="suscrito"><span>suscribirse al boletin de
                                    noticias.</span></label>
                            <hr>
                            <button type="submit" class="btn indigo darken-4">AGREGAR USUARIO <i
                                    class="material-icons right">add_circle</i></button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <div class="row">
            <div class="col m12">
                <table class="table bordered striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Edad</th>
                            <th>Estado Civil</th>
                            <th>Correo</th>
                            <th>Telefono</th>
                            <th>Pasatiempos</th>
                            <th>Suscrito</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="usuario, index in usuarios" v-bind:key="usuario">
                            <td>{{usuario.nombre}}</td>
                            <td>{{usuario.apellido}}</td>
                            <td>{{usuario.edad}}</td>
                            <td>{{usuario.estado_civil}}</td>
                            <td>{{usuario.correo}}</td>
                            <td>{{usuario.telefono}}</td>
                            <td>
                                <ul>
                                    <li v-for="pasatiempo in usuario.pasatiempos" v-bind:key="pasatiempo">
                                        {{pasatiempo.id}} - {{pasatiempo.descripcion}}</li>
                                </ul>
                            </td>
                            <td><label><input type="checkbox" disabled v-model="usuario.suscrito"><span></span></label>
                            </td>
                            <td><a href="#!" v-on:click="editar(index)"><i class="material-icons">create</i></a></td>
                            <td><a href="#!" v-on:click="eliminar(index)"><i class="material-icons">delete</i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>





    <br>
    <br>
    <footer class="page-footer blue darken-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Portafolio Vue.js</h5>
                    <p class="grey-text text-lighten-4">CSS by Materialize Design</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Enlaces</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="https://vuejs.cesarvan3.com">Home</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://vuejs.cesarvan3.com/vue01">Conexion
                                API</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://vuejs.cesarvan3.com/vue02">CRUD con
                                Arrays</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://vuejs.cesarvan3.com/vue03">Funcionamiento
                                rutas</a></li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Creado Por Cesar Ivan Martinez
                <a class="grey-text text-lighten-4 right" href="https://github.com/cesarvan03/vue02">Codigo en
                    Git</a>
            </div>
        </div>
    </footer>

    <!-- vuej-->
    <script src="https://unpkg.com/vue@3"></script>

    <script>

        const app = {
            data() {
                return {
                    indice: -1,
                    nombre: '',
                    apellido: '',
                    edad: 0,
                    estado_civil: '',
                    correo: '',
                    telefono: '',
                    suscrito: false,
                    pasatiempo: '',
                    pasatiempos: [],
                    usuarios: [],

                    select_instances: [],

                    estados_civiles: [
                        "Soltero", "Casado", "Viudo", "Divorciado",

                    ]

                }
            },
            mounted() {

            },
            methods: {
                agregarUsuario() {
                    var data = {
                        nombre: this.nombre,
                        apellido: this.apellido,
                        edad: this.edad,
                        telefono: this.telefono,
                        estado_civil: this.estado_civil,
                        correo: this.correo,
                        suscrito: this.suscrito,
                        pasatiempos: this.pasatiempos
                    };
                    if (this.indice ==-1) {
                        this.usuarios.push(data);
                    }
                    else{
                        this.usuarios[this.indice]=data;
                    }
                    this.indice=-1;
                    this.nombre = '';
                    this.apellido = '';
                    this.edad = 0;
                    this.estado_civil = '';
                    this.correo = '';
                    this.telefono = '';
                    this.suscrito = false;
                    this.pasatiempo = '';
                    this.pasatiempos = [];
                },
                agregarPasatiempo() {
                    if (this.pasatiempo != "") {
                        var total = this.pasatiempos.length;
                        var ultimo = 0;
                        if (total > 0) {
                            ultimo = this.pasatiempos[total - 1].id;
                        }
                        var data = {
                            id: ultimo + 1,
                            descripcion: this.pasatiempo
                        };
                        this.pasatiempos.push(data);
                        this.pasatiempo = '';
                    }


                },
                eliminar(index) {
                    if (!confirm("* ¿Desea eliminar este registro?")) return ;          
                    this.usuarios.splice(index,1);
                },
                editar(index){
                    var user = this.usuarios[index];
                    this.indice = index;
                    this.nombre = user.nombre;
                    this.apellido = user.apellido;
                    this.edad = user.edad;
                    this.estado_civil = user.estado_civil;
                    this.correo = user.correo;
                    this.telefono = user.telefono;
                    this.suscrito = user.suscrito;
                    this.pasatiempos = user.pasatiempos;
                }

            }

        }
        var mountedApp = Vue.createApp(app).mount('#app')
    </script>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems);
        });
    </script>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
</body>

</html>